footer {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	height: 500px;
	background-color: #aeaeae;
	p {
		text-align: center;
		margin-bottom: 65px;
		margin-top: 115px;
	}
}


//-------------------------------------------------
// Media queries
@media screen and (max-width: 500px) {
	footer {
		p {
			margin-top: 50px;
		}
	}
}