:root {
	font-size: 16px;
}

*{
	box-sizing: border-box;
}

body {
	font-family: 'Times New Roman', Times, serif;
	background-color: #f2efe5;
	color: #000;
}

.page-body {
	max-width: 1500px;
	margin: 0px auto;
	box-shadow: 0px 0px 20px 0px #000;
}

.social-item:hover {
	cursor: pointer;
	color: #555;
}

//------------------------------------------
//The state of elements before and after animation
.hide-item {
	//transform: scale3d(0, 0, 0);
	transform: scale3d(0, 0, 0) rotateY(180deg);
	transform-origin: center;
	transition: all 0.7s ease-out;
}
.show-item {
	//transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1) rotateY(0);
	transform-origin: center;
	transition: all 0.7s ease-out;
}